.App {
  font-family: sans-serif;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.upload-and-prompt {
  position: fixed;
  bottom: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 100%;
}

.api-response {
  width: 80%; /* Adjust to your preference */
  height: 90%;
  overflow-y: scroll;
}

/* Styles for the file input button */
.upload-and-prompt input[type='file'] {
  display: none; /* Hide the default file input */
}

/* Additional styles for buttons and inputs around upload-and-prompt */
.upload-and-prompt .garden-button,
.upload-and-prompt .garden-input {
  margin: 0 4px;
}

/* Adjust the height of the input field to align with buttons */
.upload-and-prompt .garden-input__input {
  height: 32px; /* Match your button height */
}

/* If your application will be used on mobile devices */
@media (max-width: 768px) {
  .upload-and-prompt {
    flex-direction: column;
    align-items: center;
  }
  
  /* Adjust the margin for mobile devices */
  .upload-and-prompt .garden-button,
  .upload-and-prompt .garden-input {
    margin: 4px 0;
  }
}